@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --burgundybrown: rgb(105, 41, 41);
}
h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
em {
  font-style: italic;
}
body {
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
}
main {
  height: 100%;
}
aside {
  background-image: url(assets/keyboard.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
  width: 30%;
  height: 100%;
}
aside #logo-container {
  font-size: 2rem;
  text-align: center;
  margin-top: 5vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
}
aside #logo-container h1::before {
  content: "😭";
}
#right-container {
  height: 100%;
  color: beige;
  background-color: var(--burgundybrown);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#right-container > * {
  flex: 1;
  padding: 25px;
}
#right-container form {
  background-color: beige;
  color: var(--burgundybrown);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#right-container form fieldset {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
#right-container form fieldset > span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max(250px, 30%);
}
#right-container form label {
  text-transform: uppercase;
  font-weight: 200;
}
#right-container form input {
  /* width: auto; */
  font-size: 1.2rem;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  background-color: var(--burgundybrown);
  color: white;
  font-weight: bold;
  font-family: inherit;
}
#right-container form input:focus {
  outline: 2px solid black;
  background-color: rgb(149, 65, 65);
}

@media (max-width: 600px) {
  aside {
    display: none;
  }
}
