@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --burgundybrown: rgb(105, 41, 41);
}
h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
em {
  font-style: italic;
}
body {
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
}
main {
  height: 100%;
}
aside {
  background-image: url(assets/keyboard.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
  width: 30%;
  height: 100%;
}
aside #logo-container {
  font-size: 2rem;
  text-align: center;
  margin-top: 5vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
}
aside #logo-container h1::before {
  content: "😭";
}
#right-container {
  height: 100%;
  color: beige;
  background-color: var(--burgundybrown);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#right-container > * {
  flex: 1;
  padding: 15px;
}
#right-container form {
  background-color: beige;
  color: var(--burgundybrown);
}
