@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color: rgb(105, 41, 41);
  --secondary-color: rgb(149, 65, 65);
  --accent-color: rgb(79, 41, 105);
  --accent-color-secondary: rgb(47, 24, 63);
}
h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
em {
  font-style: italic;
}
a,
a:visited {
  font: inherit;
  text-decoration: inherit;
}
body {
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
  background-color: beige;
}
main {
  height: 100%;
}
aside {
  background-image: url(assets/keyboard.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
  width: 30%;
  height: 100%;
}
aside #logo-container {
  font-size: 2rem;
  text-align: center;
  margin-top: 5vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
}
aside #logo-container h1::before {
  content: "😭";
}
#right-container {
  height: 100%;
  color: beige;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#right-container > * {
  flex: 1;
  padding: 25px;
}
#right-container header {
  font-size: 1.5rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-end;
  flex: 0.5;
}
#right-container header p {
  line-height: 2rem;
}
#right-container form {
  background-color: beige;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#right-container form fieldset {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
}
#right-container form fieldset > span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max(250px, 40%);
}
#right-container form label {
  text-transform: uppercase;
  font-weight: 200;
}
#right-container form input {
  /* width: auto; */
  font-size: 1.2rem;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-family: inherit;
}
#right-container form input:focus {
  outline: 2px solid black;
  background-color: var(--secondary-color);
}

form button {
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  background-color: var(--accent-color);
  color: white;
  font: inherit;
  font-weight: bold;
}
form button:hover,
form button:focus {
  background-color: var(--accent-color-secondary);
}
form a {
  font-weight: 800;
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  padding: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

a[href*="github"]::before {
  content: " ";
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(assets/github.svg);
  background-size: cover;
}

@media (max-width: 600px) {
  aside {
    display: none;
  }
}
